/* ---- CSS FOR MAIN PAGE ---- */

/* --- CSS IMPORTS --- */
/* MEDIA QUERY FOR PRINT */
@import url("./print.css") print;

/* FONT IMPORT - LORA AND POPPINS */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500&display=swap');

/* MATERIAL ICON OF A WAVING HAND */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
/* --- END OF CSS IMPORTS --- */

/* ACCESSING ALL HTML FOR FONT ACCESSIBILITY */
html {
    /* Responsive, accessible font sizing. */
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

/* STYLING ALL OF BODY */
body {
    font-size: 1.6rem;
    background-color: #fff;
    color: #0A0A0A;
}

/* ----  SIDEBAR / MAIN NAV CONTAINER  ---- */ 
.main-nav {
    margin: -1rem;
    width: 200px;
    background-color: #fff;
    position: fixed;
    height: 100vh;
    overflow: hidden;
    padding: 0.5rem;
    text-align: center;
    color: #6D2D3B;
    display: grid;
    justify-content: center;
}

/* CUSTOM LOGO */
#logo-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
    max-width: 172px;
}

/* SIDEBAR LIST */
.main-nav #main-links {
    padding: 0;
    width: 100%;
    text-align: center;
    list-style-type: none;
}

/* SIDEBAR LINKS */
 .nav-link {
    display: block;
    color: #6D2D3B;
    padding: 1rem;
    text-decoration: none;
}

/* LINKS ON HOVER */
.nav-link:hover {
    background-color: #6D2D3B;
    color: #fff;
}

/* ILLUSTRATED NAV IMAGE DIV */
#bottom-nav-img-div {
    align-items: flex-end;
}

/* ILLUSTRATED IMAGE -- VECTEEZY */
#lady-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
    max-width: 192px;
    border-radius: 1.6rem;
    padding: 0.5rem;
}
/* ------ END OF SIDEBAR ------ */
/* ----  HOME PAGE CONTENT  ---- */
.content {
    margin-left: 200px;
}

/* WAVING HAND ICON */
.material-symbols-outlined {
    font-size: 3.2rem;
    background-color: #fff;
}

/* TARGETING TEXT THAT SHOULD BE ITALIC */
.text-italic {
    font-style: italic;
}

/* TARGETING TEXT THAT SHOULD BE BOLD */
.text-bold {
    font-weight: bold;
}

/* TARGETING TEXT THAT SHOULD BE UNDERLINED */
.text-underline {
    text-decoration: underline;
    text-decoration-color: #6D2D3B;
}

/* ----  ABOUT SECTION  ---- */
/* SOCIAL ICONS SECTION */
#social-secondary-menu {
    align-self: center;
}

/* SOCIAL ICONS LIST */
#social-icons {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

/* SOCIAL ICONS LIST ITEMS */
.social-icons-list-item {
    list-style-type: none;
    padding: 0.5rem;
    font-size: 2.4rem;
    color: #6D2D3B;
    cursor: not-allowed;
}

/* ABOUT TITLE / h1 */
#about-title {
    padding: 1rem;
    font-size: 4rem;
    color: #863647; 
    text-align: center;
}

/* ABOUT / INTRO DESCRIPTION */
#about-intro {
    font-size: 2.1rem;
    background-color: #fff;
}

/* ABOUT / INTRO DESCRIPTION + IMG */
#about-intro-img-div {
    display: flex;
    padding: 0 1rem;
    align-items: center;
}

/* ILLUSTRATED ABOUT IMG -- BLUSH */
#about-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
    border-radius: 1.6rem;
    padding: 0.5rem;
}

/* --- GOALS / OBJECTIVES CONTAINER --- */ 
#intro-goal-container {
    display: grid;
    align-items: center;
}

/* SMALLER GOALS CONTAINER FOR DIVS */ 
#goal-container {
    padding: 1rem;
    display: grid;
     /* GOALS GRID */
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 8px;
    height: 100%;
}

/* GOALS TITLE */
#intro-goal-container-h2 {
    grid-area: 1 / 1 / 2 / 3;
    padding-left: 1rem;
    color: #6D2D3B;
    font-size: 3.2rem;
}

/* GOALS DIVS */
.goal-divs {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-radius: 1.6rem;
    border: 2px solid #DCC6CB;
    padding: 1.6rem;
    height: 100%;
}

/* GOALS NUMBERS */
.goal-numbers {
    font-size: 3rem;
    color: #863647;
    margin: -1rem 0;
}

/* GOALS DESCRIPTION */
.goals-desc {
    font-size: 1.9rem;
    color: #6D2D3B;
    padding: 0.5rem;
    border-radius: 1.6rem;
    text-align: center;
}

#goal-one {
    grid-area: 2 / 1 / 3 / 2;
}

#goal-two {
    grid-area: 2 / 2 / 3 / 3;
}

#goal-three {
    grid-area: 2 / 3 / 3 / 4;
}

/* ----  END OF GOALS  ---- */ 
/* ----  END OF ABOUT SECTION  ---- */

/* ----  QUICK NAV CONTAINER  ---- */ 
/* SEARCH FORM */
#search {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

/* SEARCH INPUTS */
.search-inputs {
    font-size: inherit;
    font-family: inherit;
    border-radius: 0.8rem;
    border: 2px solid #6D2D3B;
    padding: 8px;
}

#search input::placeholder {
    color: #6D2D3B;
}

#search-button {
    background-color: #6D2D3B;
    color: #F0E8EA;
    cursor: pointer;
}

/* ----  END OF QUICK NAV  ---- */ 
/* ----  ASIDE CONTAINERS  ---- */ 

/* TOP POSTS AND MILESTONE TITLES */
.aside-titles {
    font-size: 2.1rem;
    color: #6D2D3B;
}

/* TOP POSTS DIVS*/
#top-posts-div {
    margin-top: 18px;
    border: 2px solid #6D2D3B;
    padding: 1rem;
    border-radius: 1.6rem;
    color: #0A0A0A;
}

/* TOP POSTS LIST */
#top-posts {
    list-style-type: none;
    padding: 0;
}

/* TOP POSTS LIST ITEMS */
.top-posts-li {
    padding: 4px;
}

/* MILESTONES ASIDE CONTAINER */
#milestone-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #6D2D3B;
    padding: 1rem;
    border-radius: 1.6rem;
    color: #0A0A0A;
    margin-top: 50px;
}

/* MILESTONES LIST */
#milestones {
    list-style-type: none;
    padding: 0;
}

/* MILESTONES LIST ITEMS */
.milestones-li {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 0;
}

/* MILESTONES + TOP POST LIST LINKS */
.list-links {
    text-decoration: none;
    color: #6D2D3B;
}

/* MILESTONES + TOP POST LIST LINKS ON HOVER */
.list-links:hover {
    font-weight: bold;
}

/* MILESTONE / WEEK BUTTONS */
.w-button {
    background-color: #6D2D3B;
    color: #F0E8EA;
    width: 50%;
    float: left;
    border-radius: 0;
    padding: 8px;
    border: 2px solid #fff;
    cursor: pointer;
}
/* ----  END OF ASIDE CONTAINERS  ---- */
/* ----  POSTS SECTION  ---- */ 

/* POST SECTION TITLE */
.post-section-h2 {
    padding-left: 1rem;
    color: #6D2D3B;
    font-size: 3.2rem;
}

/* WEEK ONE'S POSTS CARDS */ 
#week-one {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    margin: auto;
    max-width: 900px;
}   

/* WEEK TWO'S POSTS CARDS */ 
#week-two {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    margin: auto;
    max-width: 900px;
}

/* ALL POSTS CARDS */ 
.card {
    border-radius: 0.8rem;
    border: 2px solid #863647;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 3px 2px #DCC6CB;
    background-color: #fff;
    color: #0A0A0A;
}

/* POST CARDS TITLES */
.card-title {
    order: 2;
}

/* POST CARDS DESCRIPTIONS */
.card-desc {
    text-align: center;
    color: #0A0A0A;
    font-size: 1.8rem;
    padding: 1rem;
    order: 3;
}

/* POST CARDS IMG */
.card-img {
    width: 100%;
    object-fit: fill;
    overflow: hidden;
    border-radius: 0.4rem;
    border-bottom: 2px solid #863647;
    order: 1;
}

/* POST CARDS BUTTONS */
.card-button {
    font-size: 2.2rem;
    background-color: #F0E8EA;
    color: #6D2D3B;
    width: 100%;
    border: 0;
    border-radius: 0.8rem;
    border-top: 2px solid #863647;
    order: 4;
}

/* CARD BUTTON LINKS */
.card-button-link {
    font-size: 2.2rem;
    width: 100%;
    align-self: center;
    cursor: pointer;
    border: 0;
    order: 4;
}

/* ACCESSING EACH INDIVIDUAL CARD */ 
#day-1 { 
    grid-area: 1 / 1 / 2 / 3;
}

#day-2 { 
    grid-area: 1 / 3 / 2 / 5;
}

#day-3 { 
    grid-area: 1 / 5 / 2 / 7;
}

#day-4 { 
    grid-area: 1 / 7 / 2 / 9;
}

#day-5 { 
    grid-area: 2 / 1 / 3 / 3;
}

#day-6 { 
    grid-area: 2 / 3 / 3 / 5;
}

#day-7 { 
    grid-area: 2 / 5 / 3 / 7;
 }

#day-8 { 
    grid-area: 1 / 1 / 2 / 3;
}

#day-9 { 
    grid-area: 1 / 3 / 2 / 5;
}

#day-10 { 
    grid-area: 1 / 5 / 2 / 7;
}

#day-11 { 
    grid-area: 1 / 7 / 2 / 9;
}

#day-12 { 
    grid-area: 2 / 1 / 3 / 3;
}

#day-13 { 
    grid-area: 2 / 3 / 3 / 5;
}

#day-14 { 
    grid-area: 2 / 5 / 3 / 7;
}

/* ---- END OF POSTS CARDS ---- */ 

/* ---- FOOTER ---- */
#website-footer {
    background-color: #DCC6CB;
    padding: 3rem;
    text-align: center;
    color: #6D2D3B;
    margin-top: 2rem;
    border: 8px solid #F0E8EA;
    font-size: 1.6rem;
}
/* ---- END OF FOOTER ---- */

/*  ------ MEDIA QUERIES FOR MAIN INDEX ------ */
/* ----  MEDIA QUERIES FOR LARGE SCREENS / DESKTOPS ---- */
@media screen and (min-width: 1024px) {
    /* ABOUT SECTION */
    #About {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 8% 34% repeat(5, 1fr);
    }

    /* SOCIAL ICONS SECTION */
    #social-secondary-menu {
        grid-area: 1 / 5 / 2 / 6;
    }

    /* ABOUT TITLE / h1 */
    #about-title {
        grid-area: 2 / 1 / 2 / 5;
    }

    /* ABOUT / INTRO DESCRIPTION + IMG */
    #about-intro-img-div {
        grid-area: 2 / 1 / 4 / 5;
    }

    /* ABOUT IMG */
    #about-img {
        max-width: 300px;
        min-width: 124px;
    }

    /* GOALS / OBJECTIVES CONTAINER */
    #intro-goal-container {
        grid-area: 3 / 1 / 6 / 5;
    }

    /* GOALS DIVS */
    .goal-divs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* QUICK NAV CONTAINER */
    #quick-container {
        grid-area: 2 / 5 / 3 / 6;
    }

    /* MILESTONES ASIDE CONTAINER */
    #milestone-container {
        grid-area: 3 / 5 / 7 / 6;
    }

    .post-section-h2 {
        text-align: center;
    }

    #week-one {
        max-width: 1400px;
    }

    #week-two {
        max-width: 1400px;
    }

    /* ---- FOOTER ---- */
    #website-footer {
        margin-left: 200px;
    }
}

/* ----  MEDIA QUERIES FOR MEDIUM SCREENS / TABLETS ---- */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* MAIN NAV CONTAINER */
    .main-nav { 
        width: 100%;
        height: auto;
        position: relative;
    }

    /* MAIN NAV LINKS */
    #main-links {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* ALL PAGE CONTENT */
    .content {
        margin-left: 0;
    }

    /* SEARCH FORM */
    #search {
        display: none;
    }

    /* TOP POSTS DIV */
    #top-posts-div {
        margin-top: 80px;
    }

    /* MILESTONES ASIDE CONTAINER */
    #milestone-container {
        margin-top: 3rem;
    }

    /* WEEK ONE'S POSTS CARDS */ 
    #week-one {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        width: 100%;
    }

    /* WEEK TWO'S POSTS CARDS */ 
    #week-two {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        width: 100%;
    }
}

/* ----  MEDIA QUERIES FOR SMALL SCREENS / MOBILE ---- */
@media screen and (min-width: 320px) and (max-width: 767px) {
    /* MAIN NAV CONTAINER */
    .main-nav { 
        width: 100%;
        height: auto;
        position: relative;
    }

    /* MAIN NAV LINKS */
    #main-links {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* ALL PAGE CONTENT */
    .content {
        margin-left: 0;
    }

    /* ABOUT / INTRO DESCRIPTION + IMG */
    #about-intro-img-div {
        text-align: center;
        flex-direction: column;
    }

    /* ILLUSTRATED ABOUT IMG */
    #about-img {
        display: none;
    }

    /* SEARCH FORM */
    #search {
        display: none;
    }

    /* SMALLER GOALS CONTAINER FOR DIVS */ 
    #goal-container {
        margin: auto;
    }

    /* GOAL DIVS */
    .goal-divs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    /* TOP POSTS DIV */
    #top-posts-div {
        margin-top: 40px;
    }

    /* MILESTONES ASIDE CONTAINER */
    #milestone-container {
        margin-top: 2.4rem;
    }

    /* WEEK ONE'S POSTS CARDS */ 
    #week-one {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        width: 100%;
    }

    /* WEEK TWO'S POSTS CARDS */ 
    #week-two {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        width: 100%;
    }
}