
/* CSS FOR ALL BLOG POST PAGES */

/* --- CSS IMPORTS --- */
/* FONT IMPORT - LORA AND POPPINS */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500&display=swap');

/* ACCESSING ALL HTML FOR FONT ACCESSIBILITY */
html {
    /* Responsive, accessible font sizing. */
    font-size: 62.5%;
    font-family: 'Lora', serif;
}

/* STYLING ALL OF BODY */
body {
    font-size: 1.6rem;
    background-color: #fff;
    color: #0A0A0A;
}

/* HEADER */
.post-header {
    font-size: 1.9rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* HEADER TITLE */
.header-title {
    font-size: 3rem;
    margin: 0;
    color: #6D2D3B;
}

/* HEADER NAV LIST */
.nav-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    color: #6D2D3B;
}

/* HEADER NAV LIST ITEMS */
.nav-list-items {
    padding: 1rem;
    border: 4px solid #DCC6CB;
    margin: 0 0.5rem;
}

/* HEADER NAV LIST ITEMS ON HOVER */
.nav-list-items:hover {
    border: 4px solid #6D2D3B;
    cursor: pointer;
}

/* NAV LINKS */
.nav-links {
    text-decoration: none;
    color: #6D2D3B;
}

/* NAV LINKS ON HOVER */
.nav-links:hover {
    cursor: pointer;
}

/* ALL OF THE ARTICLE / POST */
.article-container {
    display: grid;
    grid-template-columns: 1fr 0.85fr;
    align-items: center;
    background-color: #FBF8F9;
    padding: 1rem;
    border: 0.5rem solid #DCC6CB;
}

/* POST TITLE */
.post-title {
    grid-area: 1 / 1 / 2 / 3;
    color: #6D2D3B;
    font-size: 4rem;
    text-align: center;
    align-items: center;
}

/* POST IMAGE DIV */
.post-image-div {
    grid-area: 2 / 1 / 3 / 2;
    margin: auto;
}

/* POST IMAGE */
.post-image {
    width: 100%;
    max-width: 56rem;
}

/* POST IMAGE CAPTION */
.image-caption {
    text-align: center;
}

/* POST IMAGE CAPTION LINKS */
.caption-links {
    text-decoration: none;
    color: #6D2D3B;
    cursor: pointer;
}

/* POST QUOTE */
.post-quote {
    grid-area: 2 / 2 / 3 / 3;
    padding: 1rem;
    border-left: 1rem solid #DCC6CB;
    border-radius: 2px;
    text-align: center;
    align-items: center;
    font-size: 1.9rem;
    font-weight: bold;
}

/* POST QUOTE CITE */
.post-quote-cite {
    font-style: italic;
    margin-bottom: -4px;
}

/* POST DATE */
.post-date {
    grid-area: 3 / 1 / 4 / 3;
    color: #6D2D3B;
    display: flex;
    justify-content: flex-end;
    font-size: 3.2rem;
}

/* ALL POST COPY / TEXT */
.post {
    grid-area: 4 / 1 / 5 / 3;
    padding: 3rem;
    font-size: 2.1rem;
}

/* COPY DESCRIPTION TITLE / TODAY */
.post-desc-title-1 {
    color: #6D2D3B;
    font-size: 3rem;
}

/* COPY DESCRIPTION FOR TODAY */
.post-desc-1 {
    text-align: center;
}

/* COPY DESCRIPTION TITLE / TOMORROW */
.post-desc-title-2 {
    color: #6D2D3B;
    font-size: 3rem;
}

/* COPY DESCRIPTION FOR TOMORROW */
.post-desc-2 {
    text-align: center;
}

/* COPY LINKS */
.post-links {
    text-decoration: none;
    color: #6D2D3B;
}

/* COPY LINKS ON HOVER */
.post-links:hover {
    font-weight: bold;
}

/* NEXT BUTTON */
.next-button {
    grid-area: 5 / 1 / 6 / 3;
    color: #6D2D3B;
    display: flex;
    justify-content: center;
}

/* ICON FOR NEXT BUTTON */
.fa-arrow-right {
    align-items: center;
    border: 0.5rem solid #DCC6CB;
    border-radius: 50%;
    padding: 1rem;
    color: #6D2D3B;
    font-size: 1.9rem;
}

/* ICON FOR HOME BUTTON */
.fa-house-chimney {
    align-items: center;
    border: 0.5rem solid #DCC6CB;
    border-radius: 50%;
    padding: 1rem;
    color: #6D2D3B;
    font-size: 1.9rem;
}

/* ICON FOR NEXT BUTTON ON HOVER */
.fa-arrow-right:hover {
    background-color: #DCC6CB;
    cursor: pointer;
    color: #fff;
}

/* ICON FOR HOME BUTTON ON HOVER */
.fa-house-chimney:hover {
    background-color: #DCC6CB;
    cursor: pointer;
    color: #fff;
}

/* AUTHOR INFO CONTAINER */
.author-info {
    border: 0.5rem solid #DCC6CB;
    color: #6D2D3B;
    text-align: center;
    font-size: 2rem;
}

/* AUTHOR IMG */
.avatar-img {
    max-width: 124px;
    border-radius: 50%;
}

/* AUTHOR TITLE */
.author-title {
    padding-top: 24px;
    margin: 0;
}

/* AUTHOR SCHOOL */
.author-school {
    padding: 0 8rem;
    margin: 0;
}

/* AUTHOR BIO */
.author-bio {
    padding: 3rem;
    font-size: 2.1rem;
}

/* AUTHOR SOCIAL MEDIA NAV */
.author-socials {
    font-weight: bold;
}

/* AUTHOR SOCIAL MEDIA TITLE */
.socials-title {
    margin: 0;
}

/* AUTHOR SOCIAL MEDIA LIST */
.author-socials-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    font-size: 3rem;
    padding: 0 8rem;
    margin: 0;
    align-items: center;
}

/* AUTHOR SOCIAL MEDIA LIST ITEMS */
.socials-list-items {
    padding: 0.5rem;
}

/* AUTHOR SOCIAL MEDIA LIST ITEMS ON HOVER */
.socials-list-items:hover {
    color: #6D2D3B;
    cursor: not-allowed;
}

/* FOOTER */
.post-footer {
    background-color: #DCC6CB;
    padding: 1rem;
    text-align: center;
    color: #6D2D3B;
    margin-top: 1rem;
    border: 0.5rem solid #DCC6CB;
    font-size: 1.9rem;
}

/*  ------ ALL MEDIA QUERIES ------ */
/* ----  MEDIA QUERIES FOR MEDIUM SCREENS / TABLETS ---- */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* POST IMAGE */
    .post-image {
        max-width: 38rem;
        margin: auto;
    }

    /* POST QUOTE */
    .post-quote {
        padding: 0.5rem;
    }
}

/* ----  MEDIA QUERIES FOR SMALL SCREENS / MOBILE ---- */
@media screen and (min-width: 320px) and (max-width: 767px) {
    /* POST IMAGE DIV */
    .post-image-div {
        grid-area: 2 / 1 / 3 / 3;
        margin: auto;
        padding-bottom: 4rem;
    }

    /* POST QUOTE */
    .post-quote {
        grid-area: 3 / 1 / 4 / 3;
        padding: 1rem;
    }
}